[user]
	email = sagarreddypatil@gmail.com
	name = sagarreddypatil
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = vim
[alias]
	amend = commit --amend --no-edit
