//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/sagar/.local/share/rofi/themes/minimal.rasi"
//@theme "/home/sagar/.local/share/rofi/themes/onedark.rasi"
//@theme "/home/sagar/.local/share/rofi/themes/onedark.rasi"
@theme "/home/sagar/.local/share/rofi/themes/mytheme.rasi"
